.menu-mobile__container {
    width: 13rem;
    height: 22rem;
    margin-left: 0.5rem;
    padding: 1rem;
    border-bottom-left-radius: 0.8rem;  
    border-bottom-right-radius: 0.8rem;
    background: rgba(255 , 255, 255, 0.30);
    backdrop-filter: blur(100px);
    box-shadow: 0 2px 8px 0 rgb(99 99 99 / 20%);
}

.navigation-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    margin: 0; padding: 0;
}

.navigation-mobile li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}


.navigation-mobile img {
    width: 1rem;
    height: 1.4rem;
}

.navigation-mobile a {
    text-decoration: none;
    font-weight: 500;
    color: #636F74;
}

.navigation-mobile li:nth-child(7) a {
    color: #00FFCB;
}

