:root {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Poppins', sans-serif;
}
