.hero-container {
    width: 100%;
}

.informative-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    margin-top: 8rem;
}

.container-text {
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    text-align: center;
    margin: 0 auto;
}

.informative-title p {
    display: flex;
    font-size: 0.9rem;
    line-height: 26px;
    margin: 1rem 0;
}

.informative-title div:nth-child(2) {
    display: flex;
    margin: 1rem auto 0 auto;
}

.img-section {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.img-section img {
    width: 22rem;
}

@media (min-width: 648px) {
    .hero-container {
        display: flex;
        flex-direction: row;
        margin-top: 6rem;
    }
    .informative-title {
        margin: 2rem 0 0 2rem;
    }
    .container-text {
        display: flex;
        margin-left: 1rem;
        text-align: left;
    }
    .container-text  h1 {
        font-size: 3.2rem;
        line-height: 50px;
    }
    .img-section img {
        width: 40rem;
        margin: 0 auto;
    }
    .informative-title div:nth-child(2) {
        display: flex;
        margin: 0 0 0 1rem;
    }
}