.solutions-container {
    width: 100%;
    background-color: #f2f4f7;
    padding: 2rem 0;
}

.title {
    min-width: 5rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 1.2rem;
}

.solutions-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
}

.card {
    width: 20rem;
    height: 10rem;
    /* border: 1px solid orangered; */
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 10px 13px 33px 0px rgb(0 0 0 / 10%);
    padding: 1rem;
}

@media (min-width: 768px) {
    .solutions-container {
        width: 100%;
    }

    .solutions-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .card  {
        height: 15rem;
    }
}