.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgb(99 99 99 / 20%);
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 100%;
}

.logotipe-container {
    display: flex;
    align-items: center;
}

.logotipe-container img {
    width: 11.5rem;
    height: 4rem;
    margin: 0.5rem 0 0 2.5rem;
}

.nav-right {
    display: flex;
    width: 45rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 3.5rem;
}

.nav-right ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
}

.nav-right a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-right div {
    display: flex;
    gap: 1rem;
}

.menu__mobile {
    display: none;
}

@media (max-width: 748px ) {

    .navbar {
        height: 5rem;
    }

    .navigation-container {
        position: static;
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem;
        box-shadow: 0 2px 8px 0 rgb(99 99 99 / 20%);
        /* border: 1px solid red; */
    }

    .nav-left ul {
       display: none;
    }

    .nav-right {
        display: none;
    }

    .logotipe-container img {
        display: none;
    }

    
    .logotipe-container span {
        display: none;
    }
    .menu__mobile img {
        width: 2rem;
        display: flex;
        justify-content: end;
        margin-left: 0.6rem;
    }

    .menu__mobile {
        display: flex;
        align-items: center;
    }

    .menu__mobile span:nth-child(2) {
        font-weight: 800;
        color: #00FFCB;
        margin-left: 1.5rem;
        margin-right: 0.3rem;
    }

    .menu__mobile span {
        font-weight: 700;
        color: #CACFD2;
    }
    
}