.button-general {
    min-width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.button-general a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Poppins', sans-serif;
}